Kobo.ContactManager.Web/Service References/ContactManagerService/ContactManagerFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactManagerFacade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29652/ContactService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29652/ContactService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:29652/ContactService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" />
      <xsd:import schemaLocation="http://localhost:29652/ContactService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactManagerService_SearchForContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchForContacts" />
  </wsdl:message>
  <wsdl:message name="IContactManagerService_SearchForContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchForContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactManagerService_GetContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContact" />
  </wsdl:message>
  <wsdl:message name="IContactManagerService_GetContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactManagerService_AddContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="IContactManagerService_AddContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactManagerService_DeleteContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContact" />
  </wsdl:message>
  <wsdl:message name="IContactManagerService_DeleteContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactManagerService_UpdateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="IContactManagerService_UpdateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactManagerService">
    <wsdl:operation name="SearchForContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactManagerService/SearchForContacts" message="tns:IContactManagerService_SearchForContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactManagerService/SearchForContactsResponse" message="tns:IContactManagerService_SearchForContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactManagerService/GetContact" message="tns:IContactManagerService_GetContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactManagerService/GetContactResponse" message="tns:IContactManagerService_GetContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactManagerService/AddContact" message="tns:IContactManagerService_AddContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactManagerService/AddContactResponse" message="tns:IContactManagerService_AddContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactManagerService/DeleteContact" message="tns:IContactManagerService_DeleteContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactManagerService/DeleteContactResponse" message="tns:IContactManagerService_DeleteContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactManagerService/UpdateContact" message="tns:IContactManagerService_UpdateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactManagerService/UpdateContactResponse" message="tns:IContactManagerService_UpdateContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContactManagerService" type="tns:IContactManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchForContacts">
      <soap:operation soapAction="http://tempuri.org/IContactManagerService/SearchForContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://tempuri.org/IContactManagerService/GetContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap:operation soapAction="http://tempuri.org/IContactManagerService/AddContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://tempuri.org/IContactManagerService/DeleteContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://tempuri.org/IContactManagerService/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactManagerFacade">
    <wsdl:port name="BasicHttpBinding_IContactManagerService" binding="tns:BasicHttpBinding_IContactManagerService">
      <soap:address location="http://localhost:29652/ContactService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>