Kobo.ContactManager.Web/Service References/ContactManagerService/ContactService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29652/ContactService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:29652/ContactService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" />
  <xs:element name="SearchForContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchParameter" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="fromPosition" type="xs:int" />
        <xs:element minOccurs="0" name="recordsToReturn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchForContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" minOccurs="0" name="SearchForContactsResult" nillable="true" type="q2:ArrayOfPersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" minOccurs="0" name="GetContactResult" nillable="true" type="q3:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" minOccurs="0" name="contact" nillable="true" type="q4:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" minOccurs="0" name="AddContactResult" nillable="true" type="q5:ContactUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" minOccurs="0" name="DeleteContactResult" nillable="true" type="q6:ContactUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" minOccurs="0" name="contact" nillable="true" type="q7:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" minOccurs="0" name="UpdateContactResult" nillable="true" type="q8:ContactUpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>