Kobo.ContactManager.Web/Service References/ContactManagerService/ContactService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kobo.ContactManager.Contract.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29652/ContactService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CustomerDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
  <xs:complexType name="PersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDTO" nillable="true" type="tns:PersonDTO" />
  <xs:complexType name="SupplierDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupplierDTO" nillable="true" type="tns:SupplierDTO" />
  <xs:complexType name="ArrayOfPersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDTO" nillable="true" type="tns:PersonDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDTO" nillable="true" type="tns:ArrayOfPersonDTO" />
  <xs:complexType name="ContactUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:PersonDTO" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactUpdateResponse" nillable="true" type="tns:ContactUpdateResponse" />
</xs:schema>